* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body {
    background-color:#23252C;
    height: 100vh;
    width: 100%; 
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}



#root {
    width: 317px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.profilePic {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.mainContent {
    background-color: #1A1B21;
    padding: 24px 35px;
}

.contactInfo,
.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactInfo {
    width: 100%;
}

.title {
    color: rgb(238, 238, 238);
    font-size: 28px;
    margin-bottom: 4px;
}

.subTitle{
    color: #F3BF99;
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 5px;
}

.website {
    color: rgb(191, 191, 191);
    font-size: 12px;
    margin-bottom: 25px;
    text-decoration: none;
}

.topContacts {
    list-style-type: none;
    display: flex;
}

.email,
.linkedin {
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    transition: .6s;
}

.email {
    margin-right: 10px;
    background-color: white;
    color: black;
}

.linkedin {
    background-color: #297FE5;
    color: white;
}


.email:hover{
    background-color: #e9a97c;
    color: white;
}

.linkedin:hover{
    background-color: #fff;
    color: #297FE5;
}

.aboutInfo{
    margin-top: 35px;
    width: 100%;
}

h5 {
    color: #fff;
    font-size: 15px;
}

p {
    color: #DCDCDC;
    font-size: 12px;
    margin-bottom: 25px;
}

footer {
    background-color: #161619;
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.footerContact a{
    margin-right: 13px;
    color: grey;
    font-size: 27px;
    transition: .7s;
}

.footerContact a:hover {
    color: rgb(225, 225, 225);
}